.dialog-action-buttons {
  display: flex;
  justify-content: flex-end;
}

.dialog-action-button {
  width: 28%;
  height: 45px;
}

.dialog-container {
  padding: 10px;
  // width: 95%;
  max-width: 100vw;
  // margin: auto;
}

::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-content {
  padding: 5px 10px 15px 10px !important;
}
// dialog içerisindeki yazı rengini siyah yapmak için kullanıyoruz
.mat-mdc-dialog-content>:last-child {
  color: black !important;
}